/* Ini File CSS */
main {
    border: 1px solid;
    padding: 32px;
}

footer {
    text-align: -webkit-center;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-between;
}

#result-bmi {
    font-size: x-large;
    font-variant-numeric: revert-layer;
}